<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Portfolio Stock</title>
  </head>
  <body>
    <div>
      <form action="/stocks" method="post">
        <fieldset>
          <legend>Add Stock</legend>
            Name: <input type="text" name="Name"> 
            Ticker:<input type="text" name="Ticker Symbol">
            Current Price:<input type="number" name="Current Price">
            Current Holding:<input type="checkbox" value="Current Holding">
            Buy Price: <input type="number" name="Buy Price">
            Quantity: <input type="number" name="Quantity">
        </fieldset>
        <button>
            <a href="/stocks/">Cancel</a>
        </button>
      </form>
    </div>
  </body>
</html>
