<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Add Portfolio Stock</title>
  </head>
  <body>
    <nav>
      <a href="/stocks">Back</a>
    </nav>
    <div class="container">
      <form action="/stocks" method="POST">
        Name: <input type="text" name="Name"> 
        Ticker:<input type="text" name="Ticker Symbol">
        Current Price:<input type="number" name="Current Price">
        Buy Price: <input type="number" name="Buy Price">
        Quantity: <input type="number" name="Quantity">
        Current Holding:<input type="checkbox" value="Current Holding"><br>
        <input type="submit" name="" value="Add Stock">
      </form>
    </div>
  </body>
</html>
