<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research</title>
</head>
<body>
    <main>
        <iframe width="800" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiM2Y3YmQyNzMtMzBjOC00Nzg3LTg3NWItMDAzYTc3MDg0NDRlIiwidCI6IjRjMDBjZTgwLTE0NzEtNGFmMi1hYTc4LTg3YTZkYjVlYWM4OSIsImMiOjJ9" frameborder="0" allowFullScreen="true"></iframe>
    </main>
</body>
</html>