body {
    font-size: 1em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    color: #222; }  

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }

/* Tables */
th,td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

  /* forms */
input[type="number"],
input[type="text"],
input[type="url"],
textarea,
#newStockForm {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 2px solid #b1afaf;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  display: block;
}

/* iframe */
.wrap-element {
  position: relative;
  overflow: hidden;
  padding-top: 56.26%;
}
.wrapped-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}