body {
    font-size: 1em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    color: #222; }  

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }

/* Tables */
th,td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }